log.txt
profile_pictures
TODO.md
report
vendor
composer.lock
lab_reports
STUDY.txt
_private/firebase_credentials.json
composer.lock

# Environment variables
.env

# Testing directory - should not be in production
tests/